/* src/App.css */
.react-resizable-handle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="%23666" d="M12 12l-8 0 0-8z"%3E%3C/path%3E%3C/svg%3E');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
  opacity: 0;
  transition: opacity 0.3s;
}

.react-grid-item:hover .react-resizable-handle {
  opacity: 1;
}

.react-grid-item.react-grid-placeholder {
  background: rgba(255, 0, 0, 0.2);
  border: 2px dashed red;
  transition-duration: 100ms;
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}